/build/
/target/
# dependencies
/authenticate/node_modules
# profiling files
/authenticate/chrome-profiler-events*.json
/authenticate/speed-measure-plugin*.json

# IDEs and editors
/authenticate/.idea
/authenticate/.project
/authenticate/.classpath
/authenticate/.c9/
/authenticate/*.launch
/authenticate/.settings/
/authenticate/*.sublime-workspace

# IDE - VSCode
/authenticate/.vscode/*
/authenticate/!.vscode/settings.json
/authenticate/!.vscode/tasks.json
/authenticate/!.vscode/launch.json
/authenticate/!.vscode/extensions.json
/authenticate/.history/*

# misc
/authenticate/.sass-cache
/authenticate/connect.lock
/authenticate/coverage
/authenticate/libpeerconnection.log
/authenticate/npm-debug.log
/authenticate/yarn-error.log
/authenticate/testem.log
/authenticate/typings

# System Files
/authenticate/.DS_Store
/authenticate/Thumbs.db
